body {
  background-color: #FFFFFF;
  color: #000000;
  font-family: 'helvetica neue', Helvetica, Arial;
}
table {
  border-collapse: collapse;
  width: 770px;
}
thead tr, .ngHeaderText {
  font-family: Verdana, Arial, Helvetica, Sans-serif;
  background-color: #9D3534;
  color: #eeeeee;
  font-weight: bold;
}


h2 a {
  color:black;
}

#wrap {
  margin: 0 auto;
  width: 776px;
}

#logo, #logoAngular, #title {
  float: left;
}
#logoAngular, #title {
	padding-left: 25px;
}

#title {
  font-family: Verdana, Arial, Helvetica, Sans-serif;
  font-size: 9pt;
  font-weight: bold;
  text-align: right;
  padding-top: 25px;
}

#content {
  clear:both;
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 770px; 
    height: 300px
}