<!doctype html>
<html ng-app>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="require.js"></script>
    <script src="lightstreamer.js"></script>
    <script src="controller.js"></script>
  </head>
  <body ng-cloak>
  <div ng-controller="Controller">
    <div ng-click="newStatus('wtf')">{{status}}</div>
  
    <div ng-repeat="item in items">
      <span>{{item.stock_name}}</span>:<span>{{item.last_price}}</span>
    </div>
    
    
  </body>
</html>